* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar__inner {
    padding: 10px 0px 10px 0px;
}
.nav__links {
    padding: 5px;
}
.nav__link {
    font-size: 18px;
    margin-left: 25px;
    color: #fff;
    text-transform: uppercase;
    transform: scale(1);
    transition: all .2s linear;
}
.nav__link:first-child {
    margin-left: 0px;
}
.nav__link:hover {
    transform: scale(1.2);
}
/*.nav__links {*/
/*    display: inline-block;*/
/*    margin-right: 20px;*/
/*}*/
/*.nav__links:last-child {*/
/*    margin-right: 0px;*/
/*}*/
/*.nav__links.item {*/
/*    font-size: 20px;*/
/*    padding: 5px 10px 5px 10px;*/
/*    text-decoration: none;*/
/*    color: #fff;*/
/*    border-bottom: 1px solid transparent;*/
/*    transition: all .3s linear;*/
/*}*/
/*.nav__links.item:hover {*/
/*    transform: scale(1.2);*/
/*    color: #999;*/
/*    border-bottom: 1px solid #999;*/
/*}*/

/*.btn-nav {*/
/*    color: #000;*/
/*    outline: none;*/
/*    background-color: #fff;*/
/*    padding: 5px 10px 5px 10px;*/
/*    border: 1px solid #fff;*/
/*    transition: all .3s linear;*/
/*}*/
/*.btn-nav:hover {*/
/*    background-color: transparent;*/
/*    color: #fff;*/
/*}*/
